:root{
    --color-primary: red; 
}

a{
    text-decoration: none;
}

.themeBox{
    min-width: 100%;
    display: flex;
    padding: 0px 10px !important;
    #button{
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
    }

    #buttonSun{
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
        
    }
}

    @media(min-width: 900px){
        .themeBox{
            justify-content: flex-end !important;
        }
        #button{
            display: none !important;
        }
    }

    @media(max-width: 900px){
        .themeBox{
            justify-content: space-between !important;
        }
        
    }
