:root{
    --color-primary: red; 
}

a{
    text-decoration: none;
}

.themeBox{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    #button{
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
        background-color: var(--color-primary);
        color: white;
        border: none !important;
    }
    @media(min-width: 900px){
        #button{
            display: none !important;
        }
    }
    #buttonSun{
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
        background-color: var(--color-primary);
        color: yellow;
        border: none !important;
        
    }
}

